In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, tqdm_notebook, tqdm_pandas

from data.models import Allegation, Officer, AllegationCategory
from data_importer.base.storage import AzureStorage
from data_importer.base.cleaner import DataCleaner, strip, titleize, to_int, ZFill

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='add-your-key-here',
                       share='cleaned-data')

import_db = 'import'

In [3]:
def allegation_category_code(value):
    if pd.isnull(value):
        return value 
    return value.split('-')[0]

## Read Officer Accused data

In [4]:
df = pd.read_csv(
    storage.path_for('complaints/accused.csv'),
    usecols=[
        'CRID', 'Complaint.Category', 'Recommended.Finding', 'Final.Finding', 'Recommended.Discipline',
        'Final.Discipline', 'UID'
    ]
)
df = df.rename(columns={
    'CRID': 'crid',
    'Complaint.Category': 'allegation_category',
    'Recommended.Finding': 'recc_finding',
    'Final.Finding': 'final_finding',
    'Recommended.Discipline': 'recc_outcome',
    'Final.Discipline': 'final_outcome',
    'UID': 'officer_id'
})

## Clean Officer Accused data
#### Do following steps
- Fill all empty `recc_finding` and `final_finding` with `ZZ`
- Fill all empty `recc_outcome` and `final_outcome` with `''`
- Change `final_finding` from `DIS` to `DS`
- Fill `final_outcome_class` with `''`

In [5]:
DataCleaner(
    schema={
        'crid': [strip],
        'allegation_category': [strip, allegation_category_code],
        'recc_outcome': [strip, ZFill(3)],
        'final_outcome': [strip, ZFill(3)],
        'recc_finding': [strip],
        'final_finding': [strip],
    }
).perform(df)

df['recc_finding'] = df['recc_finding'].fillna('ZZ')
df['final_finding'] = df['final_finding'].fillna('ZZ')
df['recc_outcome'] = df['recc_outcome'].fillna('')
df['final_outcome'] = df['final_outcome'].fillna('')
df['final_finding'] = df['final_finding'].replace(to_replace='DIS', value='DS')
df['final_outcome_class'] = ''

100%|██████████| 6/6 [00:13<00:00,  2.21s/it]

#### Get corresponding allegation id, start date and end date

In [6]:
allegation_map = {}
for crid, id in Allegation.objects.using(import_db).values_list('crid', 'id'):
    allegation_map[crid] = {'id': id}

In [7]:
df_allegations = pd.read_csv(
    storage.path_for('complaints/complaints.csv'),
    usecols=['CRID', 'Complaint.Date', 'Closed.Date'],
    converters={
        'CRID': strip
    }
)

df_allegations.drop_duplicates()
df_allegations = df_allegations.where(pd.notnull(df_allegations), None)

df_allegations.apply(
    lambda x: allegation_map[x['CRID']].update({
        'start_date': x['Complaint.Date'],
        'end_date': x['Closed.Date']
    }),
    axis=1
)

df = df.assign(
    allegation_id=df['crid'].apply(lambda x: allegation_map[x]['id']),
    start_date=df['crid'].apply(lambda x: allegation_map[x]['start_date']),
    end_date=df['crid'].apply(lambda x: allegation_map[x].get('end_date', None))
)

del df['crid']

#### Get corresponding officer current age

In [8]:
officer_age_map = {}
df_officers = pd.read_csv(
    storage.path_for('profiles/officer-profiles.csv'),
    usecols=['UID', 'Current.Age']
)
df_officers = df_officers[df_officers['Current.Age'].notnull()]

DataCleaner(
    schema={
        'Current.Age': [to_int]
    }
).perform(df_officers)

df_officers.apply(
    lambda x: officer_age_map.update({
        x['UID']: x['Current.Age']
    }),
    axis=1
)

df = df.assign(
    officer_age=df['officer_id'].apply(lambda x: officer_age_map.get(x, None))
)

100%|██████████| 1/1 [00:00<00:00,  2.35it/s]

#### Get corresponding allegation category

In [9]:
allegation_category_map = {}
for code, id in AllegationCategory.objects.using(import_db).all().values_list('category_code', 'id'):
    allegation_category_map[code] = id

df = df.assign(
    allegation_category_id=df['allegation_category'].apply(lambda x: allegation_category_map.get(x, None) )
)

del df['allegation_category']

#### Replace all `NaN` with `None`

In [10]:
df = df.where(pd.notnull(df), None)

## Import Officer Accused data

#### Delete all officer accuseds before importing

In [11]:
OfficerAllegation.objects.using(import_db).delete()

(105844, {u'data.OfficerAllegation': 105844})

#### Import and print out the imported data

In [12]:
tqdm.pandas(tqdm_notebook(), desc='Importing Officer Accused data')
df.progress_apply(lambda x: OfficerAllegation.objects.using(import_db).create(**x), axis=1)

pd.DataFrame.from_records(OfficerAllegation.objects.using(import_db).all().values())

A Jupyter Widget

Importing Officer Accused data: 125581it [02:38, 792.75it/s]

,allegation_category_id,allegation_id,end_date,final_finding,final_outcome,final_outcome_class,id,officer_age,officer_id,recc_finding,recc_outcome,start_date
0,31.0,37224,2005-02-19,UN,600,,150327,48.0,11948,UN,600,2004-03-11
1,31.0,37224,2005-02-19,UN,600,,150328,48.0,23893,UN,600,2004-03-11
2,31.0,37224,2005-02-19,UN,600,,150329,48.0,10511,UN,600,2004-03-11
3,31.0,37224,2005-02-19,ZZ,,,150330,45.0,8710,ZZ,,2004-03-11
4,31.0,37224,2005-02-19,UN,600,,150331,60.0,18131,UN,600,2004-03-11
5,31.0,37224,2005-02-19,UN,600,,150332,47.0,22811,UN,600,2004-03-11
6,70.0,37225,2004-12-06,ZZ,,,150333,62.0,28447,ZZ,,2004-03-11
7,208.0,37227,2005-03-02,EX,600,,150334,47.0,31811,EX,600,2004-03-11
8,208.0,37227,2005-03-02,EX,600,,150335,47.0,16085,EX,600,2004-03-11
9,208.0,37227,2005-03-02,EX,600,,150336,54.0,29516,EX,600,2004-03-11
10,208.0,37227,2005-03-02,EX,600,,150337,50.0,3518,EX,600,2004-03-11
11,208.0,37227,2005-03-02,EX,600,,150338,43.0,6501,EX,600,2004-03-11
12,32.0,37228,2006-03-03,SU,100,,150339,50.0,2151,SU,003,2004-03-11
13,32.0,37228,2006-03-03,UN,600,,150340,64.0,29413,UN,600,2004-03-11
14,72.0,37229,2004-11-15,NS,600,,150341,55.0,27503,NS,600,2004-03-11
15,72.0,37229,2004-11-15,NS,600,,150342,59.0,16422,NS,600,2004-03-11
16,109.0,37231,2005-06-09,SU,015,,150343,54.0,6397,SU,030,2004-03-11
17,49.0,37233,2005-09-08,NS,600,,150344,45.0,5191,SU,100,2004-03-11
18,203.0,37235,2005-05-03,SU,001,,150345,61.0,12785,SU,001,2004-03-11
19,203.0,37235,2005-05-03,SU,001,,150346,41.0,5708,SU,001,2004-03-11
20,104.0,37236,2005-02-09,UN,600,,150347,64.0,21119,UN,600,2004-03-11
21,107.0,37237,2005-01-29,NS,600,,150348,48.0,27965,NS,600,2004-03-11
22,208.0,37238,2005-02-05,UN,600,,150349,36.0,28190,UN,600,2004-03-12
23,205.0,37239,2005-06-09,NS,600,,150350,43.0,11190,NS,600,2004-03-12
24,205.0,37239,2005-06-09,NS,600,,150351,57.0,7309,NS,600,2004-03-12
25,205.0,37239,2005-06-09,NS,600,,150352,49.0,11817,NS,600,2004-03-12
26,205.0,37239,2005-06-09,NS,600,,150353,47.0,24472,NS,600,2004-03-12
27,72.0,37241,2006-01-13,NS,600,,150354,47.0,21426,NS,600,2004-03-12
28,72.0,37241,2006-01-13,NS,600,,150355,65.0,1443,NS,600,2004-03-12
29,72.0,37241,2006-01-13,NS,600,,150356,42.0,9959,NS,600,2004-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...
125551,128.0,37193,2008-08-06,NS,600,,150297,59.0,1931,NS,600,2004-03-10
125552,71.0,37194,2005-07-26,NS,600,,150298,51.0,18125,NS,600,2004-03-10
125553,71.0,37194,2005-07-26,NS,600,,150299,55.0,12564,NS,600,2004-03-10
125554,208.0,37198,2008-03-12,SU,800,,150300,58.0,6287,SU,400,2004-03-10
125555,31.0,37200,2005-02-12,NS,600,,150301,55.0,20014,NS,600,2004-03-10
125556,98.0,37201,2005-01-29,UN,600,,150302,43.0,15660,UN,600,2004-03-10
125557,197.0,37202,2006-06-30,SU,005,,150303,47.0,19608,SU,020,2004-03-10
125558,208.0,37204,2004-08-03,NS,600,,150304,54.0,31451,NS,600,2004-03-10
125559,208.0,37204,2004-08-03,NS,600,,150305,45.0,26970,NS,600,2004-03-10
125560,159.0,37207,2004-12-22,UN,600,,150306,53.0,30906,UN,600,2004-03-10
125561,98.0,37209,2005-01-29,UN,600,,150307,42.0,4008,UN,600,2004-03-10
125562,98.0,37209,2005-01-29,UN,600,,150308,40.0,27277,UN,600,2004-03-10
125563,208.0,37210,2005-02-02,NS,600,,150309,48.0,13779,UN,600,2004-03-10
125564,208.0,37210,2005-02-02,NS,600,,150310,52.0,30430,UN,600,2004-03-10
125565,208.0,37210,2005-02-02,NS,600,,150311,49.0,31673,UN,600,2004-03-10
125566,70.0,37211,2005-03-24,UN,600,,150312,46.0,16531,NS,600,2004-03-10
125567,70.0,37211,2005-03-24,UN,600,,150313,53.0,7814,NS,600,2004-03-10
125568,31.0,37214,2005-03-09,UN,600,,150314,47.0,17642,UN,600,2004-03-10
125569,173.0,37215,2005-06-24,NS,600,,150315,56.0,8780,NS,600,2004-03-10
125570,194.0,37217,2005-02-16,UN,600,,150316,54.0,6397,UN,600,2004-03-10
125571,194.0,37217,2005-02-16,UN,600,,150317,55.0,6327,UN,600,2004-03-10
125572,104.0,37218,2006-10-18,UN,600,,150318,45.0,12396,UN,600,2004-03-11
125573,208.0,37221,2006-02-24,NS,600,,150319,49.0,15341,NS,600,2004-03-11
125574,72.0,37222,2005-03-16,NS,600,,150320,50.0,8477,NS,600,2004-03-11
125575,72.0,37222,2005-03-16,NS,600,,150321,43.0,7916,NS,600,2004-03-11
125576,31.0,37224,2005-02-19,UN,600,,150322,45.0,21212,UN,600,2004-03-11
125577,31.0,37224,2005-02-19,ZZ,,,150323,45.0,20048,ZZ,,2004-03-11
125578,31.0,37224,2005-02-19,UN,600,,150324,58.0,31336,UN,600,2004-03-11
125579,31.0,37224,2005-02-19,UN,600,,150325,50.0,26284,UN,600,2004-03-11
125580,31.0,37224,2005-02-19,UN,600,,150326,48.0,26481,UN,600,2004-03-11