In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, tqdm_notebook

from data.models import Officer, OfficerBadgeNumber
from data_importer.base.storage import AzureStorage
from data_importer.base.cleaner import DataCleaner, strip, titleize, to_int, ZFill

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='your-key-here',
                       share='cleaned-data')
import_db = 'import'

## Read and clean current star data

In [3]:
df_final_profiles = pd.read_csv(
    storage.path_for('profiles/final-profiles.csv'),
    usecols=['UID', 'Current.Star']
)
df_final_profiles = df_final_profiles.rename(columns={
    'UID': 'officer_id',
    'Current.Star': 'current_star'
})

DataCleaner(
    schema={
        'current_star': [to_int, ZFill()]
    }
).perform(df_final_profiles)

100%|██████████| 1/1 [00:00<00:00,  1.22it/s]

       officer_id current_star
0               1         1424
1               2        20373
2               3          NaN
3               4          NaN
4               5          NaN
5               6        18601
6               7        19596
7               8          NaN
8               9          NaN
9              10          NaN
10             11          NaN
11             12          NaN
12             13          NaN
13             14          NaN
14             15        17673
15             16        14008
16             17          NaN
17             18        14237
18             19         5959
19             20         1747
20             21          NaN
21             22          NaN
22             23        11360
23             24          NaN
24             25        16579
25             26          NaN
26             27          NaN
27             28         9027
28             29        11485
29             30        13605
...           ...          ...
32495       32496          NaN
32496       32497          NaN
32497       32498          NaN
32498       32499          NaN
32499       32500          NaN
32500       32501          NaN
32501       32502          NaN
32502       32503          NaN
32503       32504          NaN
32504       32505          NaN
32505       32506          NaN
32506       32507          NaN
32507       32508          NaN
32508       32509          NaN
32509       32510          NaN
32510       32511          NaN
32511       32512          NaN
32512       32513          NaN
32513       32514          NaN
32514       32515          NaN
32515       32516          NaN
32516       32517          NaN
32517       32518          NaN
32518       32519          NaN
32519       32520          NaN
32520       32521          NaN
32521       32522          NaN
32522       32523          NaN
32523       32524          NaN
32524       32525          NaN

[32525 rows x 2 columns]

## Read and clean all stars data

In [4]:
df_profiles = pd.read_csv(
    storage.path_for('profiles/officer-profiles.csv'),
    usecols=['UID', 'Star1', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9', 'Star10'],
    na_values=[-999]
)

df_profiles = df_profiles.rename(columns={
    'UID': 'officer_id',
    'Star1': 'star1', 
    'Star2': 'star2', 
    'Star3': 'star3', 
    'Star4': 'star4', 
    'Star5': 'star5', 
    'Star6': 'star6', 
    'Star7': 'star7', 
    'Star8': 'star8', 
    'Star9': 'star9', 
    'Star10': 'star10'
})

DataCleaner(
    schema={
        'star1': [to_int, ZFill()], 
        'star2': [to_int, ZFill()], 
        'star3': [to_int, ZFill()], 
        'star4': [to_int, ZFill()], 
        'star5': [to_int, ZFill()], 
        'star6': [to_int, ZFill()], 
        'star7': [to_int, ZFill()], 
        'star8': [to_int, ZFill()], 
        'star9': [to_int, ZFill()], 
        'star10': [to_int, ZFill()]
    }
).perform(df_profiles)

100%|██████████| 10/10 [00:07<00:00,  1.32it/s]

,officer_id,star3,star4,star7,star8,star9,star2,star1,star5,star6,star10
0,1,NaN,NaN,NaN,NaN,NaN,NaN,13001,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,13705,17545,NaN,NaN,NaN
2,3,2628,NaN,NaN,NaN,NaN,3023,14535,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,18601,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,20484,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,19596,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,6799,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,16511,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,20278,20921,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,11969,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN,NaN,4670,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN,14399,21167,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN,NaN,17673,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,7147,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,14008,14048,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,4527,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,14237,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,5959,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN,1747,14171,NaN,NaN,NaN
21,22,16375,12950,NaN,NaN,NaN,17184,17436,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,3473,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,11360,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN,NaN,11110,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN,NaN,16579,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,1109,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,11485,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
32110,32111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32111,32112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32112,32113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32113,32114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32114,32115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32115,32116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32116,32117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32117,32118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32118,32119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32119,32120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32120,32121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32121,32122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32122,32123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32123,32124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32124,32125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32125,32126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32126,32127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32127,32128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32128,32129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32129,32130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32130,32131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32131,32132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32132,32133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32133,32134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32134,32135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32135,32136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32136,32137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32137,32138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32138,32139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32139,32140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_final_profiles = df_final_profiles.iloc[0:32140]

In [6]:
df = pd.merge(df_final_profiles, df_profiles, on='officer_id')

## Build badge number set

In [7]:
tqdm.pandas(tqdm_notebook(), desc='Build badgenumber_set')

df['badgenumber_set'] = df.progress_apply(lambda x: {star for star in [
    x['star1'], x['star2'], x['star3'], x['star4'], x['star5'], 
    x['star6'], x['star7'], x['star8'], x['star9'], x['star10'], x['current_star']
] if pd.notnull(star)}, axis=1)

df = df.drop(['star1', 'star2', 'star3', 'star4', 'star5', 'star6', 'star7', 'star8', 'star9', 'star10'], axis=1)

A Jupyter Widget

Build badgenumber_set: 32140it [00:02, 12613.27it/s]

## Import badge number data

#### Delete all existing badge numbers before importing

In [8]:
OfficerBadgeNumber.objects.using(import_db).delete()

(0, {u'data.OfficerBadgeNumber': 0})

#### Import and print out the imported data

In [9]:
def import_badgenumber(data):
    OfficerBadgeNumber.objects.using(import_db).bulk_create([
        OfficerBadgeNumber(
            officer_id=data['officer_id'],
            star=star,
            current=star == data['current_star']
        )
        for star in data['badgenumber_set']
    ])

In [10]:
tqdm.pandas(tqdm_notebook(), desc='Importing badge number')
df.progress_apply(import_badgenumber, axis=1)

pd.DataFrame.from_records(OfficerBadgeNumber.objects.using(import_db).all().values())

A Jupyter Widget

Importing badge number: 107it [00:00, 1064.13it/s]

Importing badge number: 32140it [00:31, 1017.38it/s]

       current     id  officer_id   star
0        False      1           1  13001
1         True      2           1   1424
2         True      3           2  20373
3        False      4           2  17545
4        False      5           2  13705
5        False      6           3  14535
6        False      7           3   2628
7        False      8           3   3023
8        False      9           4  18601
9        False     10           5  20484
10        True     11           6  18601
11        True     12           7  19596
12       False     13           8   6799
13       False     14          10  16511
14       False     15          11  20278
15       False     16          11  20921
16       False     17          12  11969
17       False     18          13   4670
18       False     19          14  21167
19       False     20          14  14399
20        True     21          15  17673
21        True     22          16  14008
22       False     23          16   7147
23       False     24          17  14008
24       False     25          17  14048
25       False     26          18   4527
26        True     27          18  14237
27       False     28          19  14237
28        True     29          19   5959
29       False     30          20   5959
...        ...    ...         ...    ...
54734     True  54735       32110   6520
54735     True  54736       32111   2826
54736     True  54737       32113  20906
54737     True  54738       32114  19111
54738     True  54739       32115   1777
54739     True  54740       32116   3171
54740     True  54741       32117   9365
54741     True  54742       32118  16202
54742     True  54743       32119   8826
54743     True  54744       32120  11575
54744     True  54745       32121  21158
54745     True  54746       32122   5882
54746     True  54747       32123  16546
54747     True  54748       32124  13225
54748     True  54749       32125  13624
54749     True  54750       32126  15949
54750     True  54751       32127  18376
54751     True  54752       32128   6129
54752     True  54753       32129   7736
54753     True  54754       32130   8637
54754     True  54755       32131   6336
54755     True  54756       32132  13639
54756     True  54757       32133   3140
54757     True  54758       32134  16650
54758     True  54759       32135  20203
54759     True  54760       32136  10115
54760     True  54761       32137   6958
54761     True  54762       32138   1744
54762     True  54763       32139  15742
54763     True  54764       32140   6645

[54764 rows x 4 columns]